<input ref="todoInput" type="text" class="form-control" placeholder="filter" type="text"  ng-model="filter">
<br>
<span>  {{$ctrl.remaining}} remaining</span>
<br>
<ul>
  <li ng-repeat="todo in $ctrl.todos  | filter:filter track by $index" >
	<input type="checkbox" ng-model="todo.done" >
<span ng-class="{strike: todo.done}">{{todo.text}}</span> 
[<a href="" ng-click="$ctrl.onRemove($index)">remove</a>]          
  </li>
</ul> 