<section class="todo">
  <h2>Todo</h2>
  
  <todo-ul todos="$ctrl.todos" filter="filter"  on-remove-el="$ctrl.removeElement($event)" remaining="$ctrl.remaining()"  ></todo-ul>
 
 <todo-form todo="$ctrl.newTodo" on-new-element="$ctrl.addNewElement($event)" on-archive="$ctrl.archive($event)"></todo-form>

</section>