
 <form  name="todoForm" ng-submit="$ctrl.addTodo()">
          <div class="row">
            <div class="col-xs-10">
                <input ref="todoInput" type="text" class="form-control" id="textInput" placeholder="Add Todo..." ng-model="$ctrl.element" autocomplete="off"/>
            </div>
            <div class="col-xs-2">
                <input type="submit" class="btn btn-default"   value="Add"/>
            </div>
              
          </div>
        </form>
        <a href="" ng-click="$ctrl.Archive()">archive</a>

